@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --textGoldenColor: rgb(181, 142, 83);
  --textBlackColor: rgb(23, 23, 23);
  --textWhiteColor: rgb(255, 255, 255);

  --PrimaryColor: rgb(181, 142, 83);
  --PrimaryColorHover: rgb(145, 114, 66);

  --SecondaryColor: rgb(23, 23, 23);
  --SecondaryColorV2: rgb(26, 25, 25);
  --SecondaryColorHover: rgb(145, 114, 66);

  --CardBackground: rgb(252, 244, 232);
  --CardBtn: rgb(89, 83, 73);

  --redHeart: rgb(236, 28, 25);
  --GoldenStar: rgb(255, 199, 3);
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
}
p,
label,
button,
option,
input {
  font-family: "Source Sans 3", sans-serif;
}

.navbar-toggler {
  border: none !important;
}

.Background_Box {
  position: relative;
  /* overflow: hidden; */
}

.Background_Box .leftOrderSvg1 {
  position: absolute;
  width: 100%;
  margin: -50% 0px 0px -50%;
  z-index: 0;
  /* height: 40vh; */
}
.Background_Box .leftOrderSvg2 {
  position: absolute;
  width: 100%;
  /* height: 40vh; */
  margin: 75% 0px 0px 190%;
  transform: scaleY(-1) rotate(45deg);
  z-index: 0;
}

.Background_Box .rightOrderSvg1 {
  position: absolute;
  width: 100%;
  margin: 0% 0px 0px 50%;
  z-index: 0;
  /* height: 40vh; */
}
.Background_Box .rightOrderSvg2 {
  position: absolute;
  width: 100%;
  /* height: 40vh; */
  margin: 75% 0px 0px -200%;
  transform: rotate(-135deg);
  z-index: 0;
}

.Background_Box div:nth-child(3) {
  /* border: 5px solid #7a7a7a3b; */
  height: 70vh;
  width: 65%;
  margin: 15% 50px 50px 15%;
  overflow: hidden;
  border-radius: 25px;
}
.Background_Box div:nth-child(3):hover {
  /* transform: rotate(5deg);
      border: 5px solid #7a7a7a3b; */
  /* animation: rotateTab 0.5s ease-in; */
  animation: rotateTab 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes rotateTab {
  0% {
    transform: rotate(0deg);
    border: 0px solid #b5c2fc;
  }
  50% {
    transform: rotate(-5deg);
    border: 2.5px solid #b5c2fc;
  }
  100% {
    transform: rotate(5deg);
    border: 5px solid #b5c2fc;
  }
}

.Background_Box div:nth-child(3) .img-fluid {
  -webkit-transform: scale(2.5);
  transform: scale(2.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-top: 125px;
}

.Background_Box div:nth-child(3) .img-fluid.owner {
  -webkit-transform: scale(1.5) !important;
  transform: scale(1.5) !important;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-top: 90px !important;
}

.Content_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 80vh;
}

.primary {
  color: var(--textWhiteColor);
  background-color: var(--PrimaryColor);
  border-radius: 0%;
  &&:is(:hover, :focus, :active) {
    color: var(--textWhiteColor);
    background-color: var(--PrimaryColorHover);
  }
}
.primaryCircleView {
  height: 125px;
  width: 125px;
  color: var(--textWhiteColor);
  background-color: var(--PrimaryColor);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  &&:is(:hover, :focus, :active) {
    color: var(--textWhiteColor);
    background-color: var(--PrimaryColorHover);
  }
}

.primaryOutline {
  color: var(--textGoldenColor);
  background-color: inherit;
  border: 0.5px solid var(--PrimaryColor);
  border-radius: 0%;
  &&:is(:hover, :focus, :active) {
    color: var(--textWhiteColor);
    background-color: var(--PrimaryColorHover);
  }
}

.primaryLink {
  color: var(--textWhiteColor);
  border: none;
  &&:is(:hover, :focus, :active) {
    color: var(--textGoldenColor);
    text-decoration: underline;
    border: none;
  }
}

.BigBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-dashed {
  border: 2px dashed rgb(81, 0, 128);
  border-radius: 5px;
}

.darkMode {
  background-color: var(--SecondaryColorV2);
}

.customInput {
  box-shadow: none;
  color: var(--textGoldenColor);
  background-color: inherit;
  border: 0.5px solid var(--PrimaryColor);
  border-radius: 0%;
  &&:is(:hover, :focus, :active) {
    box-shadow: none;
    border: 0.5px solid var(--PrimaryColor);
    color: var(--textGoldenColor);
    background-color: inherit;
  }
  &&::placeholder {
    color: var(--PrimaryColorHover);
  }
}

.customInputWhite {
  box-shadow: none;
  color: var(--textWhiteColor);
  background-color: inherit;
  border: 0.5px solid var(--textWhiteColor);
  border-radius: 0%;
  &&:is(:hover, :focus, :active) {
    box-shadow: none;
    border: 0.5px solid var(--textWhiteColor);
    color: var(--textWhiteColor);
    background-color: inherit;
  }
  &&::placeholder {
    color: var(--textWhiteColor);
  }
}
.customInputWhite option {
  color: var(
    --textBlackColor
  ); /* Set this to a color that contrasts with the background */
  background-color: var(
    --textWhiteColor
  ); /* Ensure this provides enough contrast */
}

/* Custom checkbox styles */
.custom-checkbox .form-check-input {
  position: relative;
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid var(--PrimaryColor);
  border-radius: 0.27em;
  vertical-align: middle;
  cursor: pointer;
  /* margin-right: 0.5em; */
}

/* Unchecked state */
.custom-checkbox .form-check-input::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--SecondaryColor);
  border-radius: 0.25em;
}

/* Checked state */
.custom-checkbox .form-check-input:checked::before {
  content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>"); /* Unicode checkmark character */
  display: block;
  width: 100%;
  height: 100%;
  background-color: goldenrod;
  color: #fff;
  text-align: center;
  line-height: 1.25em;
  font-size: 1em;
  border-radius: 0.25em;
}

/* Custom radio styles */
.custom-radio .form-check-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid var(--PrimaryColor);
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 0.5em;
  position: relative;
}

.custom-radio .form-check-input:focus {
  outline: none;
  box-shadow: none;
}

.custom-radio .form-check-input::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--SecondaryColor);
}

.custom-radio .form-check-input:checked::before {
  background-color: goldenrod;
  box-shadow: inset 0 0 0 0.25em var(--SecondaryColor);
}

.custom-radio .form-check-input:checked {
  border-color: goldenrod;
}

.bg-transparent {
  background-color: transparent !important;
  backdrop-filter: blur(10px);
}

.bg-body-tertiary {
  /* background-color: unset !important; */
  /* backdrop-filter: blur(10px); */
  color: var(--textWhiteColor) !important;
}

.bg-body-tertiary a {
  color: var(--textWhiteColor) !important;
  mix-blend-mode: difference;
  font-family: "Libre Baskerville", serif;
}

.FooterBlock a {
  color: var(--textWhiteColor) !important;
  &&:hover {
    color: var(--PrimaryColor) !important;
    margin: 0px 0px 0px 10px;
  }
  transition: all 0.3s ease-in;
  position: relative;
}
.FooterBlock a:hover::after {
  content: "";
  top: 8px;
  right: calc(100% + 5px);
  position: absolute;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--PrimaryColor);
}

.CustomPadding {
  padding: 0px 15rem;
}

@media (max-width: 768px) {
  .CustomPadding {
    padding: 0px 0px;
  }
}

.blurBackdrop {
  backdrop-filter: blur(50px);
  backdrop-filter: blur(10px);
  color: var(--textWhiteColor) !important;
}

.textGolden {
  color: var(--PrimaryColor);
}

.bg-Golden {
  background-color: rgba(181, 142, 83, 0.272);
}

.review-card {
  padding-top: 32px;
  text-align: center;
  position: relative;
  margin: 20px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar-container {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
}

.review-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 60px;
  line-height: 1.5;
  margin-top: 10px;
}

.imgObject {
  width: 100vw;
  height: 100%;
}

.text-justify {
  text-align: justify;
}

.GeneralDividers {
  border-left: 1px solid #fff;
  height: 7rem;
  margin-top: 25px;
}
.GeneralInputBlock {
  height: 10rem;
  width: 33.3%;
}
.GeneralFormLocation {
  min-height: 10rem;
  margin-top: -15rem;
}

@media only screen and (max-width: 761px) {
  .GeneralDividers {
    border-top: 1px solid #fff;
    border-left: 0px;
    height: 1rem;
    width: 90%;
    margin-top: 25px;
  }
  .GeneralInputBlock {
    height: 100%;
    width: 100%;
  }
  .GeneralFormLocation {
    min-height: 5rem;
    margin-top: 0;
  }
}
